/* BODY */



hr {
	border-color: #01579b;
}

.btn-primary {
	background-color: #01579b;
}

/* NAV */
@media (max-width: 768px) {
#main-title {
	font-size: 10px;
	}
}

@media (min-width: 768px) {
.navbar-default .navbar-header .navbar-brand {
	color: #01579b;
	}
}

.navbar-default.affix .navbar-header .navbar-brand {
	color: #01579b;
}

/* ABOUT SECTION */
#main-avatar {
	margin-bottom: 20px;
}

/* CONTAINER FOR EACH FRAMEWORK LOGO */
.logobox {
	display: block;
	margin-top: .7em;
	height: 250px;
}

.logobox img {
	height: 100px;
}

.logobox h3 {
	font-weight: bold;
}


/* ABOUT ME SECTION */
.bg-primary {
	background-color: #01579b;
}

/* Project Modals */
.project-description {
	color: black;
}

.portfolio-box-caption {
	text-align: center;
}

.project-links a h4 {
	text-align: center;
	color: #bbdefb !important;
}

.project-img {
	width: 80%;
	height: 60%;
	margin: auto auto 30px auto;
	text-align: center;
}

.project-divider {
	width: 100%;
	border-top: white;
	background-color: white;
	height: 2px;

}

@media (min-width: 768px) {
.project-divider {
	margin-top: 3em;
	}
}

#contact a {
	color: black;
}


/* FOOTER */
footer {
  border: 1px solid grey;
  font-size: 1em;
  padding-top: 30px;
  color: white;
  width: 100%;
  background-color:#01579b;
}

#footer-text {
	margin-bottom: 0px;
	padding-bottom: 30px;
	margin-left: 30px;
}


